/*
Author: Joshua Abreu
Date: 3/7/21
File Name: styles.css
*/


/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
margin: 0;
padding: 0;
border: 0;
}

/* Style rule for body and images */

body{
  background-color:  #f6eee4;
}

img {
max-width: 100%;
display: block;
}


/* Style rules for mobile viewport */

/*Style rules to show mobile class and hide tab-desk class */
.mobile{
  display: block;
}

.round {
  border-radius: 6px;
}

h1{
  padding: 2%;
  text-align: center;
font-family: 'Emblema One', serif;

}

h3{
  padding: 2%;
  text-align: center;
  font-family: 'Lora', serif;
}

.tab-desk{
  display: none;
}

/* Style rules for header area */
header {

}

/* Style rules for navigation area */

nav {
background-color: #2a1f14;
}

nav ul{
list-style-type: none;
margin: 0;
text-align: center;
}

nav li{
  display: block;
  font-size: 1.5em;
  font-family: "Geneva", Arial, sans-serif;
  font-weight: bold;
  border-top-width: 0.5px solid #f6eee4;
}

nav li a{
  display: block;
  color:#f6eee4;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;

}


/* Style rules for main content */

main{
  padding: 2%;
  font-family: 'Lora', serif;
}

main p{
  font-size: 1.25em;
}

main h3{
  padding-top:2%;
}

main ul{
  list-style-type: square;
}

#info ul {
  margin-left: 10%;
}

#link {
color: #4d3319;
text-decoration: none;
font-style: italic;
}

#action {
font-weight: bold;
font-size:1.75em;
text-align: center;
}

#contact{
  text-align: center;
}

.tel-link {
  background-color: #2a1f14;
  padding: 2%;
  width: 80%;
  margin: 0 auto 0 auto;
}

.tel-link a {
  color: #f6eee4;
  text-decoration: none;
  font-weight: bold;
}

/* Style rules for footer content */
footer{
  text-align:center;
  font-size:0.85em;
  background-color:#2a1f14;
  color:#f6eee4;
  padding-top:1%;
  padding-bottom:1%;
  padding-left:0%;
  padding-right:0%;

}

footer a{
  color: #f3e6d8;
  text-decoration: none;
}
